/* Variables */
:root {
  --main-bg-color: #121212;
  --nav-bg-color: #1e1e1e;
}

/* Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 1em 5em;
  font-family: "Open Sans", sans-serif;
  background-color: var(--main-bg-color);
}

/* Reusable text classes */
.text-lg {
  font-size: 3em;
  font-weight: 600;
}

.text-md {
  font-size: 1.5em;
}

.text-sm {
  font-size: 1.3em;
}

/* Reusable box classes */
.box-lg {
  padding: 2.5em 3em;
}

.box-md {
  padding: 1.5em 1em;
  margin: 2em 1em;
}

.box-sm {
  padding: 0.5em;
}

/* Hover effect */
.hover-raise {
  transition: transform 0.2s ease-out;
}

.hover-raise:hover {
  transform: translateY(-2px);
}

/* Animations */
.slide-in-right {
  animation: slide-in-right 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

.slide-in-left {
  animation: slide-in-left 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-250%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(250%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Flexbox */
.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}

.flex-column-wrap {
  display: flex;
  flex-flow: column nowrap;
}

/* Navbar Styles */
#navbar {
  background-color: var(--nav-bg-color);
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 3px 5px 30px #1b1b1b;
  border-radius: 0.2em;
}

#navbar li {
  padding: 0.8em 3em;
}

.nav-link a {
  color: white;
  text-decoration: none;
}

.nav-link a:hover {
  color: rgb(241, 241, 241);
  text-decoration: underline;
}

/* Content Container */
.content-container {
  margin-top: 2em;
  padding: 6em 5em;
  color: white;
  background-color: var(--nav-bg-color);
}

/* About Me Section */
#about-me {
  justify-content: space-around;
  align-items: center;
  color: white;

  padding-left: 0;

  margin-top: 8em;
  margin-bottom: 13em;
}

/* About me overview */
#about-me-overview {
  width: 45em;
  height: auto;

  background: linear-gradient(
    -120deg,
    #1e1e1e6c 40%,
    rgba(44, 43, 43, 0.425) 100%
  );

  border-radius: 5px;
  box-shadow: 0px 0px 15px #2e2e2e;
  padding-bottom: 2em;

  transition: border-radius 0.3s, padding 0.7s;
}

#about-me-overview:hover {
  padding: 2em;
  border-radius: 10px;
}

/* Name and title container */
#name-title {
  justify-content: flex-end;
  margin: 15px 20px;
  width: auto;

  transition: margin 1s, transform 1.3s;
}

#about-me-overview:hover #name-title {
  margin: 15px;
  transform: scale(0.95);
}

/* My name */
#name {
  font-size: 2.5em;
}

/* Career title */
#title {
  font-size: 1.3em;
}

/* Headshot photo */
#headshot {
  box-sizing: content-box;
  padding-top: 0;
  border-radius: 51%;
  display: block;

  width: 10em;
  height: 10em;

  transition: width 1s, height 1s, margin 1s, padding 1s;
}

#about-me-overview:hover #headshot {
  width: 9em;
  height: 9em;
  padding: 0.5em 0.5em 0.3em;
}

.custom-hr {
  margin: 1em 0;
  height: 1px;
  width: 100%;
  background-color: white;

  transition: margin 0.5s;
}

#about-me-overview:hover .custom-hr {
  margin: 0.7em 0;
}

/* About me text */
#overview-text {
  width: 100%;
  transition: padding 0.5s;
}

#about-me-overview:hover #overview-text {
  padding: 1em 0em 0.5em;
}

/* School names */
#shs-name,
#bcca-name {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

/* Explore my work section */
#explore-my-work {
  text-align: center;
  height: fit-content;

  align-self: center;
}

/* Explore my work text */
#emw-cta {
  margin-bottom: 2em;
  color: white;
}

/* Explore my work text gradient */
#emw-gradient {
  background-color: #40c9ff;
  background-image: linear-gradient(45deg, #40c9ff, #e81cff);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  font-weight: 700;
}

/* Explore my work button */
#emw-button {
  padding: 0.4em 3em;
  border-radius: 5px;

  text-decoration: none;
  color: white;

  background-color: #318fce;
  border: 1px #eeeeee94 solid;

  transition: box-shadow 0.8s, background-color 0.5s, border 0.7s;
  transition-timing-function: ease-in;
}

#emw-button:hover {
  background-color: #379bdd;
  border: 2px #eee solid;
  box-shadow: 0px 0px 20px #5c5c5c;
  transition-timing-function: ease-out;
}

#projects {
  margin: 15em 8em 10em;
}

#projects-header {
  text-align: center;
  margin: 0;
}

#project-cards-container {
  padding-top: 1em;
  justify-content: space-evenly;
}

.project-card {
  align-items: center;

  background: linear-gradient(
    130deg,
    #1e1e1e6c 40%,
    rgba(44, 43, 43, 0.425) 100%
  );

  width: 25em;

  border: 1px #2b2b2b solid;
  border-radius: 10px;

  transition: transform 0.5s, box-shadow 0.5s;
}

.project-card:hover {
  transform: translateY(-1em);
  box-shadow: 0px 0px 15px #2e2e2e;
}

.project-name {
  text-decoration: underline;
  padding-top: 0;
  font-size: 1.8em;
  font-weight: 600;
}

.project-image {
  width: 80%;
}

.project-description {
  text-align: center;

  word-spacing: 1px;

  line-height: 1.4em;
  padding-bottom: 0;
  margin: 0;
}

.project-link {
  color: white;
  text-decoration: none;

  padding: 0.5em 3em;
  margin: 1em 0;

  background-color: #292929;
  border: 2px #303030 solid;

  transition: background-color 1s;
}

.project-link:hover {
  background-color: #1b1b1b;
}

.project-skills {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.project-skill {
  width: auto;
  height: 3em;
  margin: 0 10px;

  color: white;
}

#resume {
  align-items: center;
  justify-content: center;
  margin: 8em 6em 0;
}

#resume-cta {
  margin-bottom: 1.5em;
  color: white; /* default color */

  transition: color 0.3s ease-out, text-shadow 0.3s ease-out;
}

#resume-link {
  background: linear-gradient(
    90deg,
    #2d2d2d 0%,
    #3a3a3a 100%
  ); /* Neutral Grays */
  border: 2px #464646 solid;
  text-decoration: none;
  color: white;
  padding: 0.7em 2.5em;

  font-weight: 600;

  border-radius: 1em;
  box-shadow: 0 0.3em 0.9em rgba(0, 0, 0, 0.2); /* Add shadow for depth */
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

#resume-link:hover {
  transform: scale(1.05);
  transition-timing-function: ease-in;
  box-shadow: 0 0.5em 1.2em rgba(0, 0, 0, 0.5); /* Increase shadow on hover */
}

#resume:hover #resume-cta {
  color: #dfdfdf; /* Lighter Gray */
  transition-timing-function: ease-in;
  text-shadow: 0 0 0.3em #ffffff21; /* Text glow */
}

#resume-link:active {
  transform: scale(1); /* Reset scale when button is clicked */
  box-shadow: 0 0.2em 0.6em rgba(0, 0, 0, 0.1);
}

#cta-ktt {
  text-decoration: underline solid transparent;
  transition: text-decoration 0.3s ease-out, color 0.3s ease-out,
    text-shadow 0.3s ease-in-out;
}
#resume:hover #cta-ktt {
  text-decoration: underline solid #0496ff;
  text-shadow: 0 0 10px #0496ff38;
  transition-timing-function: ease-in;
  color: #0496ff;
}

#socials {
  margin: 8em 8em 0;
  align-items: center;
}

.social-cta {
  text-align: center;
}

#social-links {
  align-content: center;
}

@media only screen and (max-width: 900px) {
  body {
    padding: 0;
    margin: 0;
  }
  .content-container {
    padding: 1em 1.5em;
    color: white;
  }
  #navbar {
    display: none;
  }

  #about-me {
    padding: 1em;
    margin: 0;
    flex-flow: column wrap;
  }

  #about-me-overview {
    padding: 1em 1.25em 1em;
    margin: 1em 0;
    width: 100%;

    transition: none;
  }

  #about-me-overview:hover {
    padding: 1em 2em 2em;
    width: 100%;
    border-radius: 5px;
  }

  #headshot {
    display: none;
  }

  #name {
    font-size: 2.3em;
  }

  #name-title {
    margin: 0.5em;
  }

  #overview-text {
    font-size: 1.1em;
  }

  #explore-my-work {
    padding: 4em 0;
    margin: 0;
  }

  #emw-cta {
    font-size: 2.3em;
  }

  #emw-button {
    padding: 0.3em 1.5em;
    font-size: 1.5em;
    width: 70%;
  }

  #projects {
    margin: 0;
  }

  .sub-headings {
    font-size: 2.5em;
    font-weight: 600;
  }

  #project-cards-container {
    padding-top: 1em;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
  }

  .project-card {
    padding: 0.5em;
    margin: 3em 2em;

    display: flex;
    flex-flow: column nowrap;

    background: linear-gradient(
      -120deg,
      #1e1e1e6c 40%,
      rgba(44, 43, 43, 0.425) 100%
    );

    width: 25em;

    border: 1px #2b2b2b solid;
    border-radius: 10px;
  }

  .project-name {
    align-self: center;
    margin-bottom: 0.5em;
    font-size: 1.4em;
    font-weight: 600;
  }

  .project-image {
    align-self: center;
    width: 90%;
  }

  .project-description {
    padding: 1em 0.5em;
  }

  .project-link {
    font-size: 1.3em;
  }

  .project-skill {
    margin: 0 15px;
  }
}
